/* reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* basic styles */
body {
  font-family: 'Acumin Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
}

body {
  cursor: url('cursor.png'), auto ;
}

.wrapper {
  background-color: #fff;
  padding: 0 1.5in;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  max-height: 200px;
  width: auto;
  margin-bottom: 70px;
}

h1 {
  margin-top: 60px;
  font-size: 100px;
  margin-bottom: 60px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: 2px solid #000;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  position: relative;
}

nav ul li:hover ul {
  display: block;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover > a {
  background-color: #555;
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #555;
  padding: 0;
  margin: 0;
}

nav ul ul li {
  width: 200px;
  position: relative;
}

nav ul ul li a {
  padding: 10px;
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* changed to column */
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid transparent;
  padding: 10px;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: centre;
}

h3 {
  font-size: 20px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 30;
  transition: transform 0.5s ease; /* add transition property */

}
/*.gallery-image {
  margin: 20px;
  text-align: center;
}

.gallery-image img {
  max-height: 200px;
  width: auto;
  transition: filter 0.5s ease;
}

.gallery-image:hover img {
  filter: blur(5px);
}
*/

h3:hover {
  font-style: italic;
  transform: skewX(30deg);
  color: orange;
  filter: blur(0.475px);
}

#balaclavas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* add this */
  max-width: 800px;
  margin: auto;
}


#balaclavas img {
  width: 300px;
  height: auto;
  margin: 10px;
  transition: filter 1s ease;
  flex-shrink: 0;
}

#balaclavas img:hover {
  filter: blur(4px);
}

#hoodies img {
  width: 400px;
  height: auto;
  text-align: center;
}
#hoodies img{
  transition: filter 1s ease;
}
#hoodies:hover img{
  filter: blur(4px);
}

#pillows img {
  width: 400px;
  height: auto;
  text-align: center;
}
#pillows img{
  transition: filter 1s ease;
}
#pillows:hover img{
  filter: blur(4px);
}

video:hover {
  transition: filter 2s ease;
  filter: blur(4px);
}


section p {
  font-size: 20px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -50px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}